[Unit]
Description=Rocket.Chat server
After=network.target nss-lookup.target mongod.target

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rocketchat
User=rocket
Environment=MONGO_URL=mongodb://localhost:27017/rocketchat MONGO_OPLOG_URL=mongodb://localhost:27017/local?replSet=rs01 ROOT_URL=http://192.168.0.127 PORT=30000
ExecStart=/usr/bin/nodejs /home/rocket/Rocket.Chat/main.js

[Install]
WantedBy=multi-user.target