[Unit]
Description=Firewall IPTables
Documentation=man:iptables(8)

[Service]
ExecStart=/usr/bin/firewall start
#Variáveis comentadas devido a falha de execução do serviço
#ExecStop=/usr/bin/firewall stop
#ExecReload=/usr/bin/firewall restart
#ExecRestart=/usr/bin/firewall restart

[Install]
WantedBy=multi-user.target